Dockerfile
.git
.cache
*.md
!README.md
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
yarn-error.log
reports/
# macOS
.DS_Store
.vscode
tmp
temp
.expo-shared
node_modules
logs
**/.git
**/.DS_Store
.npmrc